{% extends 'home/base.html' %}
{% load static %}
{% block title %}
Argand Diagrams
{% endblock %}

{% block scripts %}
<!--Code below uses latex to render the maths on the page-->
<script type="text/javascript" src="http://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML"></script>
{% endblock scripts %}

{% block content %}
<!--This page contains useful information on how to solve quadratics questions-->
<nav>
    <a href="{% url 'furtherMaths' %}">Back To Topics links</a>
    <a href="{% url 'dash' %}">Back To Student Dash</a>
</nav>
<div id="content">
    <main>
        <div>
           <h2>Argand Diagrams</h2>
           <h3>Modulus and arguments</h3>
           <p>
            For a complex number \( z = a + bi \):
           </p>
           <p>
            $$ │z│ = \sqrt{ a^2 + b^2 } $$
            $$ arg(z) = \theta = tan^-1 (\frac{b}{a}) $$
           </p>
           <p>
            Complex numbers have a complex conjugate \( z^* = a - bi \)
            Where \( z = re^i\theta \) and \( z^* = re^-i\theta \)
           </p>

           <h3>Multiplication and Division of complex numbers</h3>
           <p>For a complex numbers in their modulus-arguments form of \( z_1 = r(cos \theta_1 + isin \theta_1 ) \) and \( z_2 = r(cos \theta_2 + isin \theta_2 ) \)</p>
           <p>
            $$  z_1z_2 = r_1r_2(cos(\theta_1 + \theta_2) + isin(\theta_1 + \theta_2))  $$
            $$  \frac{z_1}{z_2} = \frac{r_1}{r_2} (cos(\theta_1 - \theta_2) + isin(\theta_1 - \theta_2)) $$
           </p>

           <h3>Loci in argand diagrams</h3>
           <p>\( z = a + bi \)</p>
           $$ │ z - a │ = k $$
           <p>
            Circle of radius k centred on (Re(a), Im(a))
           </p>
           $$ │ z - a │ = │ z - b │ $$
           <p>
            Perpendicular bisector of the line from a to b
           </p>
           $$  arg(z - a) = \alpha $$
           <p>
            A half-line starting from a making an angle \( \alpha \) with the real axis.
           </p>

           <h3>De Moivre's Theorem</h3>
           $$ 2cos \theta = e^{i\theta} + e^{-i\theta}  $$
           $$ 2isin \theta = e^{i\theta} - e^{-i\theta}  $$
           $$ (z + \frac{1}{z} ) = 2cos \theta $$
           $$ (z^n + \frac{1}{z^n} ) = 2cos n\theta $$
           $$ (z - \frac{1}{z} ) = 2isin \theta $$
           $$ (z^n - \frac{1}{z^n} ) = 2isin n\theta $$
        </div>
    </main>
</div>

<link rel="stylesheet" href="{% static 'students/topics.css' %}">
{% endblock %}