{% extends 'home/base.html' %}
{% load static %}
{% block title %}
Take Your Pick!
{% endblock %}

{% block content %}
<!--Links back to Student Dash-->
<nav>
    <a href="{% url 'dash' %}">Back To Student Dash</a>
</nav>

<div id="content">
<main>
<div>
    <h3>Maths</h3>
    <!--Maths topic links-->
    <a href="{% url 'quadratics' %}">Quadratics</a>

    <a href="{% url 'inequalites' %}">Equations and Inequalities</a>

    <a href="{% url 'transformations' %}">Graphs and Transformations</a>

    <a href="{% url 'straightLineGraphs' %}">Straight Line Graphs</a>

    <a href="{% url 'circles' %}">Circles</a>

    <a href="{% url 'trigonometry' %}">Trigonometry</a>

    <a href="{% url 'parametrics' %}">Parametric Equations</a>

    <a href="{% url 'differentiation' %}">Differentiation</a>

    <a href="{% url 'integration' %}">Integration</a>

    <a href="{% url 'exponents' %}">Logarithms and Exponents</a>

    <a href="{% url '2DVectors' %}">2D Vectors</a>

    <a href="{% url '3DVectors' %}">3D Vectors</a>
</div>
</main>
</div>
<link rel="stylesheet" href="{% static 'students/topics.css' %}">
{% endblock %}