{% extends 'home/base.html' %}
{% load static %}
{% block title %}
Login
{% endblock %}

{% block content %}
<nav>
    <a href="{% url 'home' %}">Back to Home</a>
</nav>

<div id="content">
<form action="" method="post" id="login-form">

    {% csrf_token %}
    {{ form.as_p }}

    {% if password_error %}
    <p>{{ password_error }}</p>
    {% endif %}

    {% if error %}
    <p>{{ error }}</p>
    {% endif %}

    <button type="submit">Submit</button>
</form>
</div>
<link rel="stylesheet" href="{% static 'students/homeapp.css' %}">
{% endblock %}
