{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        {% block title %}
        <!--This is where the title of pages will be placed-->
        {% endblock %}
    </title>
</head>
<body>
    {% block content %}
    <nav>

       
        <a href="{% url 'signup' %}">Sign Up</a>

        <a href="{% url 'login' %}">Login</a>


    </nav>
    <link rel="stylesheet" href="{% static 'home.css' %}">
    {% endblock %}
   
</body>
</html>