{% extends 'home/base.html' %} <!--Similar to saying userSettings.html inherits base.html-->
{% load static %} <!--Loads static files like css and javascript-->
{% block title %}
Change Password
{% endblock %}
{% block content %}
<nav>
    <a href="{% url 'userSettings' %}">Back To Settings</a>
    <a href="{% url 'dash' %}">Back To Student Dash</a>
</nav>
<div id="content">
        <form action="" method="post">
            {% csrf_token %}

            <!--The user initially types their new password-->
            <label for="">
                Type New Password:
            </label>
            <input type="password" class="change-password-field" id="initPassword" onkeyup="check()">

            <!--The user retypes their new password-->
            <label for="">
                Retype New Password:
            </label>
            <input type="password" name="passsword" class="change-password-field" id="confirmPassword" onkeyup="check()">

            <br>
            <button type="submit">Submit</button>

            <!--Instructions on what the password should contain-->
            <p>Your password must have at least eight characters, one number and one special character.</p>
            <!--This tag changes to either 'Matching' or 'Not Matching' depending on if the password typed in the two inputs are equal-->
            <span id="message"></span>
        </form>
</div>
<script>
   var initPassword = document.getElementById('initPassword') // variable for the first password input box
   var confirmPassword = document.getElementById('confirmPassword') // variable for the second password input box
   var message = document.getElementById('message') // variable for the span tag

   var check = function() {
    //if the first and second input boxes are equal, change the value of the span to 'Matching' and the font colour to green
    if (initPassword.value == confirmPassword.value) {
        message.style.color = 'green'
        message.innerHTML = 'Matching.'
    } 
    //else change the value of the span to 'Not Matching' and the font colour to red.
    else {
        message.style.color = 'red'
        message.innerHTML = 'Not matching.'
    }
   }
</script>

<link rel="stylesheet" href="{% static 'students/homeapp.css' %}">
{% endblock %}