{% extends 'home/base.html' %}
{% load static %}
{% block title %}
Graphing Calculator
{% endblock %}

{% block content %}
<nav>
    <a href="{% url 'dash' %}" id="graph-links">Back To Student Dash</a>
</nav>

<script src="https://www.desmos.com/api/v1.8/calculator.js?apiKey=dcb31709b452b1cf9dc26972add0fda6"></script>
<div id="calculator" style="width: 90vw; height: 85vh; margin: auto;"></div>
<p>
    Created with the Desmos API, used with permission from Desmos Studio PBC.
</p>
<script>
    var elt = document.getElementById('calculator');
    var calculator = Desmos.GraphingCalculator(elt);
</script>
<link rel="stylesheet" href="{% static 'students/style.css' %}">
{% endblock %}