{% extends 'home/base.html' %}
{% load static %}
{% block title %}
Weekly Assessments
{% endblock %}

{% block content %}
<nav>
    <a href="{% url 'dash' %}">Back To Student Dash</a>
    <a href="{% url 'graph' %}">Graphing Calculator</a>
</nav>
    <main>
        <p>This bar chart shows visually how many points gained in each maths topic</p>
    
        <div id="mathsChart">
            {{ mathsChart|safe }}
        </div>
    
    </main>
<link rel="stylesheet" href="{% static 'students/style.css' %}">
{% endblock %}