{% extends 'home/base.html' %}
{% load static %}
{% block title %}
Question Form
{% endblock %}

{% block content %}
<nav>
  <a href="{% url 'dash' %}">Back To Student Dash</a>
</nav>
<div id="content">
{% if form %}
<form method="POST">
  <div>
    <legend>Select Your Questions</legend>
  {% csrf_token %}
  {{ form.as_p }}

  <button type="submit" name="">Submit</button>
  </div>
    <ul>
      <li>Easy questions are worth 5 points</li>
      <li>Medium questions are worth 10 points</li>
      <li>Hard Questions are worth 15 points</li>
    </ul>
</form>
{% endif %}

{% if message %}

{{ message }}
<a href="{% url 'qform' %}">Please filter for different questions.</a>

{% endif %}
</div>
<link rel="stylesheet" href="{% static 'students/homeapp.css' %}">
{% endblock %}