{% extends 'home/base.html' %}
{% block title %}
Question Page
{% endblock %}
{% block scripts %}

<!--Code below uses latex to render the maths on the page-->
<script type="text/javascript" src="http://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML"></script>

{% endblock scripts %}

{% block content %}
<!--Links to return to previous pages or graphing calculator.-->
<nav>
  <a href="{% url 'dash' %}">Back To Student Dash</a>
  <a href="{% url 'qform' %}">Want different questions?</a>
  <a href="{% url 'graph' %}">Graphing Calculator</a>
</nav>

{% if student_questions %}
<!--Shows the questions, image and input box for users to enter their answers-->
<form action="" method="post">
  {% csrf_token %}
  {% for q in student_questions %}
    <img src="{{ q.image.url }}" alt="">
    <br>
    <label for="">{{ q.question }}</label>
    <br>
    <math-field name="{{ q.question }}"></math-field>
    <!--<input type="text" name="{{ q.question }}" id="">-->
    <br>

    <!--If the user has no input-->
    <div>
      {% if message %}
      <p>{{ message }}</p>
      {% endif %}
    </div>

    <!-- For if the user is correct or wrong-->
    <div>
      <div>
        <!--If a user is correct they are shown the mark scheme-->
        {% if good %}
        <p>{{ good }}</p>
        <img src="{{ q.mark_scheme.url }}" alt="">
        {% endif %}
      </div>

      <div>
        <!--If a user is incorrect they are shown the worked solution and mark scheme-->
        {% if bad %}
        <p>{{ bad }}</p>
        <img src="{{ q.mark_scheme.url }}" alt="">
        <br>
        <img src="{{ q.worked_solutions.url }}" alt="">
        {% endif %}
      </div>
    </div>

  {% endfor %}
  <button type="submit">Submit</button>
</form>

{% endif %}
<!--Script for the math-field element-->
<script defer src="//unpkg.com/mathlive"></script>
{% endblock %}
