{% extends 'home/base.html' %}
{% block title %}
Question Page
{% endblock %}
{% block scripts %}

<script type="text/javascript" src="http://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML"></script>

{% endblock scripts %}

{% block content %}
<nav>
  <a href="{% url 'dash' %}">Back To Student Dash</a>
  <a href="#">Graphing Calculator</a>
</nav>

{% if student_questions %}
<form action="" method="post">
  {% csrf_token %}
  {% for q in student_questions %}
    <img src="{{ q.image.url }}" alt="">
    <br>
    <label for="">{{ q.question }}</label>
    <br>
    <input type="text" name="{{ q.question }}" id="">
    <br>

    <!-- For if the user is correct or wrong-->
    <div>
      <div>
        <!--If a user is correct they are shown the mark scheme-->
        {% if good %}
        <p>{{ good }}</p>
        <img src="{{ q.mark_scheme.url }}" alt="">
        {% endif %}
      </div>

      <div>
        <!--If a user is incorrect they are shown the worked solution and mark scheme-->
        {% if bad %}
        <p>{{ bad }}</p>
        <img src="{{ q.mark_scheme.url }}" alt="">
        <img src="{{ q.worked_solutions.url }}" alt="">
        {% endif %}
      </div>
    </div>

  {% endfor %}
  <button type="submit">Submit</button>
</form>

{% endif %}
<script defer src="//unpkg.com/mathlive"></script>
{% endblock %}
