{% extends 'home/base.html' %}
{% load static %}
{% block title %}
Your Settings
{% endblock %}

{% block content %}
<nav>
    <a href="{% url 'dash' %}">Back To Student Dash</a>
</nav>
<div id="content">
    <main>
        <p>Total points gained: {{ total }}</p>
        <a href="{% url 'changePassword' %}">Change Password</a>
        <a href="{url 'delete'}" style="color: red; font-weight: 600;">Delete Account</a>
    </main>
</div>

<link rel="stylesheet" href="{% static 'students/topics.css' %}">
{% endblock %}