body {
    background-color: rgb(189, 189, 255);
    display: flex;
    flex-direction: column;
}

#content {
    background-color: rgb(255, 253, 242);
    width: 75%;
    height: 90%;
    margin: auto;
    justify-content: flex-end;
    padding: 2rem;
}

nav {
    display: flex;
    justify-content: space-around;
    border-bottom: 1px solid black;
    width: 97%;
    height: 5%;
    background-color: rgb(189, 189, 255);
    padding: 1.5rem;
}

#links {
    margin-left: 2.5%;
}

#links a {
    text-decoration: none;
    background-color: rgb(255, 253, 242);
    color: black;
    padding: 0.5rem;
    border: 1px solid black;
    border-radius: 0.5rem;
}

nav a {
    text-decoration: none;
    background-color: rgb(255, 253, 242);
    color: black;
    padding: 0.5rem;
    border: 1px solid black;
    border-radius: 0.5rem;
    margin: auto;
}

div #subject {
    background-color: rgb(168, 223, 156);
    margin: auto;
    margin-bottom: 1rem;
    width: 85%;
    padding: 2%;
    border-radius: 1rem;
    border: 1px solid black;
}

div #subject:hover {
    transition-duration: 450ms;
    transform: translate(4px, 4px);
    filter: drop-shadow(-7px 7px 0px rgb(0, 0, 0));
}

div #subject a {
    display: block;
    text-decoration: none;
    color: black;
    font-size: 14pt;
}

div progress {
    margin: 0.5rem;
    width: 85%;
    border: 1px solid black;
    border-radius: 1rem;
}

::-webkit-progress-value {
    background-color: rgb(95, 95, 95);
  }
  
  ::-moz-progress-bar {
    background-color: rgb(95, 95, 95);
  }
  
div #bottom {
    display: flex;
    font-size: large;
    justify-content: space-evenly;
 }

div #recommend {
    background-color: rgb(250, 232, 215);
    border: 1px solid black;
    border-radius: 1rem;
    margin: 2rem;
    padding: 1rem;
 }

 div #recommend a {
    display: block;
    color: black;
    text-decoration: underline;
 }

div #assess {
    background-color: rgb(219, 252, 167);
    border: 1px solid black;
    border-radius: 1rem;
    margin: 2rem;
    padding: 1rem;
 }

 div #assess a {
    display: block;
    color: black;
    text-decoration: underline;
 }

div #question {
    background-color: rgb(242, 252, 106);
    border: 1px solid black;
    border-radius: 1rem;
    margin: 2rem;
    padding: 1rem;
 }

 div #question a {
    color: black;
    text-decoration: underline;
 }

 button {
    border-radius: 1rem;
    font-size: large;
    padding: 0.5rem;
    border: 1.2px solid black;
}

div #question-page {
    background-color: rgb(168, 223, 156);
    border: 1px solid black;
    border-radius: 1rem;
    margin: 2rem;
    padding: 1rem;
}

img {
    border: 1px solid black;
    border-radius: 1rem;
    margin: 2rem;
}

math-field {
    width: 25%;
    border-radius: 1rem;
    margin: 1rem;
    font-size: 15pt;
}

#mathsChart {
    width: 4rem;
    height: 4rem;
}