body {
    background-color: rgb(189, 189, 255);
}

main {
    background-color: rgb(168, 223, 156);
    font-size: larger;
    margin: auto;
    width: 85%;
    padding: 2rem;
    border-radius: 1rem;
    border: 1.5px solid black;
}

main a {
    display: block;
    color: black;
    font-size: 15pt;
    text-decoration: underline;
    padding: 1%;
}

nav {
    display: flex;
    position: fixed;
    top: 0;
    justify-content: space-around;
    border-bottom: 1px solid black;
    width: 100%;
    height: 5%;
    background-color: rgb(189, 189, 255);
    padding: 1.5rem;
    margin-bottom: 1rem;
}

nav a {
    text-decoration: none;
    background-color: rgb(255, 253, 242);
    color: black;
    padding: 0.5rem;
    border: 1px solid black;
    border-radius: 0.5rem;
    margin: auto;
}

#content {
    background-color: rgb(255, 253, 242);
    width: 75%;
    height: 90%;
    margin: auto;
    justify-content: flex-end;
    padding: 4rem;
}